.start-word-div-home::before {
  content: "";
  width: 20%;
  background-color: white;
  height: 5px;
  position: absolute;
  left: 25%;
  top: 55%;
}
.start-word-div-home::after {
  content: "";
  width: 20%;
  background-color: white;
  height: 5px;
  position: absolute;
  right: 25%;
  top: 55%;
}
