/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Media 2 <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
@media screen and (max-width: 768px) {
  .contact-h1 {
    font-size: 2rem !important;
  }
  .start-word-div-contact::before {
    left: 20%;
  }
  .start-word-div-contact::after {
    right: 20%;
  }
  .form-div {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
  }
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Media 2 <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
@media screen and (max-width: 570px) {
  .start-word-div-contact::before {
    left: 20% !important;
  }
  .start-word-div-contact::after {
    right: 20% !important;
  }
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Media 3 <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
@media screen and (max-width: 390px) {
  body {
    margin: 0 !important;
    padding: 0 !important;
  }
  .contact-h1 {
    font-size: 1.5rem !important;
  }
}
